$gray: #F6F6F6;
$gray-dark: #8F8FA4;
$red: #FF2020;
$white: #FFFFFF;
$purpose: #672EE3;
$black: #000000;


:export { 
    gray: $gray;
    gray-dark: $gray-dark;
    red: $red;
    white: $white;
    purpose: $purpose;
    black: $black;
}